<div class="sticky z-50 top-0 flex flex-wrap w-full bg-white shadow-xl lg:h-20 ">
    <div class="w-full flex items-center justify-center lg:w-1/2 ">
        <img class="w-28" src="../../assets/images/logo.png" alt="logo">
        <svg (click)="menuClicked()" xmlns="http://www.w3.org/2000/svg" class="w-6 sm:hidden absolute right-5" viewBox="0 0 20 20"><path fill="currentColor" d="M1 3v2h18V3zm0 8h18V9H1zm0 6h18v-2H1z"/></svg>
    </div>
    <div class="flex pl-8 items-center lg:w-1/2 w-full justify-center">
        <div class="justify-center items-center gap-3 hidden sm:flex lg:ml-[-80px]">
            <shared-button [name]="'Home'" [style]="style1"></shared-button>
            <shared-button [name]="'Works'" [style]="style1"></shared-button>
            <shared-button [name]="'Properties'" [style]="style1"></shared-button>
            <shared-button [name]="'About Us'" [style]="style1"></shared-button>
          </div>
          <svg *ngIf="accessType=='engineer'" routerLink="/engineer/chats" class="ml-[5%] text-[#303771] hover:text-white hover:outline-white hover:stroke-[green] hidden sm:block sm:w-[30px] sm:h[30px] lg:w-[40px] lg:h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd"><path class="hover:stroke-white hover:fill-[#303771]" stroke="#303771" stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.5a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2l-2.999-.001l-2.294 2.294a1 1 0 0 1-1.32.083l-.094-.083l-2.294-2.294L4.5 17.5a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2zm-1 5h-6"/><path fill="currentColor" d="M6.499 9.5c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm0 4c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1z"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M15.5 12.5h-6"/></g></svg>
          <svg *ngIf="accessType=='client'" routerLink="/chats" class="ml-[5%] text-[#303771] hover:text-white hover:outline-white hover:stroke-[green] hidden sm:block sm:w-[30px] sm:h[30px] lg:w-[40px] lg:h-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd"><path class="hover:stroke-white hover:fill-[#303771]" stroke="#303771" stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.5a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2l-2.999-.001l-2.294 2.294a1 1 0 0 1-1.32.083l-.094-.083l-2.294-2.294L4.5 17.5a2 2 0 0 1-2-2v-10a2 2 0 0 1 2-2zm-1 5h-6"/><path fill="currentColor" d="M6.499 9.5c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1zm0 4c.5 0 1-.5 1-1s-.5-1-1-1s-.999.5-.999 1s.499 1 .999 1z"/><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M15.5 12.5h-6"/></g></svg>
          <span *ngIf="notificationCount>0" class="border border-green-700 w-5 h-5 rounded-full bg-white text-red-700 relative right-4 bottom-3 text-xs font-medium text-center flex justify-center items-center">{{notificationCount}}</span>
          <div *ngIf="logined" (click)="profileClicked()" class="w-16 h-16 border border-black rounded-full absolute right-5 md:top-[70px] md:w-12 md:h-12 sm:top-[80px] sm:w-10 sm:h-10 lg:top-[20px]  hidden sm:flex overflow-hidden justify-center items-center">
            <svg *ngIf="!profileImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke="#344054" d="M25 31.25a8.333 8.333 0 1 0 0-16.667a8.333 8.333 0 0 0 0 16.667"/><path stroke="#344054" d="M29.52 29.896a8.23 8.23 0 0 1-9.04 0a14.58 14.58 0 0 0-8.917 8.166a18.75 18.75 0 0 0 26.687.188l.188-.188a14.6 14.6 0 0 0-8.917-8.166"/><path stroke="#306CFE" d="M43.75 25c0-10.355-8.395-18.75-18.75-18.75S6.25 14.645 6.25 25S14.645 43.75 25 43.75S43.75 35.355 43.75 25"/></g></svg>
            <img *ngIf="profileImage" src="{{profileImage}}" alt="">
        </div>
        <div class="{{profile}} absolute right-3 top-24 sm:top-32 md:top-32 lg:top-20 t-1 w-60 sm:w-72 md:w-80 rounded-md shadow-lg bg-gray-100 ring-1 ring-black ring-opacity-5 overflow-hidden z-10">
            <div class="py-1">
              <div class="flex px-4  py-2 text-sm ">
                <div class="w-10 h-10 sm:w-12 sm:h-12 border border-black rounded-full  overflow-hidden flex justify-center items-center">
                    <svg *ngIf="!profileImage" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke="#344054" d="M25 31.25a8.333 8.333 0 1 0 0-16.667a8.333 8.333 0 0 0 0 16.667"/><path stroke="#344054" d="M29.52 29.896a8.23 8.23 0 0 1-9.04 0a14.58 14.58 0 0 0-8.917 8.166a18.75 18.75 0 0 0 26.687.188l.188-.188a14.6 14.6 0 0 0-8.917-8.166"/><path stroke="#306CFE" d="M43.75 25c0-10.355-8.395-18.75-18.75-18.75S6.25 14.645 6.25 25S14.645 43.75 25 43.75S43.75 35.355 43.75 25"/></g></svg>
                    <img *ngIf="profileImage" src="{{profileImage}}" alt="">
                </div>
                <div class="w-5/6 overflow-hidden">
                    <div class="px-4 text-sm text-gray-800">
                        {{name}}
                      </div>
                    <div class="px-4 text-sm text-gray-800">
                      {{email}}
                    </div>
                </div>
            </div>
            <div (click)="changeProfile()" class="px-4 py-2 text-sm text-gray-800 hover:bg-gray-400 hover:text-white cursor-pointer">
              Change Profile
            </div>
            <hr *ngIf="accessType=='engineer'" class="w-[90%] border-[gray] ml-[5%]">
              <div *ngIf="accessType=='engineer'" (click)="myCompany()" class="px-4 py-2 text-sm text-gray-800 hover:bg-gray-400 hover:text-white cursor-pointer">
                My Company
              </div>
              <hr class="w-[90%] border-[gray] ml-[5%]">
              <div (click)="logout()" class="px-4 py-2 text-sm text-gray-800 hover:bg-gray-400 hover:text-white cursor-pointer">
                Log out
              </div>
            </div>
          </div>
          <div class="fixed inset-0 z-50 overflow-auto bg-gray-900 bg-opacity-75 flex items-center justify-center" *ngIf="showChangeProfileModal">
            <div class="bg-white rounded-lg shadow-lg p-6 max-w-md relative">
              <button class="absolute top-3 right-3 text-gray-500 hover:text-gray-700" (click)="closeModal()">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              <div class="mb-4">
                <h2 class="text-lg font-semibold">Change Profile Picture</h2>
              </div>
              <form [formGroup]="profileChangeForm" (ngSubmit)="submitProfilePicture()">
                <div class="mb-4">
                  <label class="block text-gray-700 font-semibold mb-2" for="image-upload">Upload Image</label>
                  <input class="border border-gray-400 p-2 w-full" id="image-upload" type="file" (change)="onImageUpload($event)" accept="image/*" formControlName="image">
                </div>
                <div class="mb-4">
                  <label class="block text-gray-700 font-semibold mb-2" for="image-preview">Preview</label>
                  <div class="h-48 bg-gray-200 flex items-center justify-center">
                    <img *ngIf="previewImageSrc" [src]="previewImageSrc" class="max-h-full max-w-full">
                    <span *ngIf="!previewImageSrc" class="text-gray-500">No image selected</span>
                  </div>
                </div>
                <div class="flex justify-end">
                  <button [disabled]="buttonDisabled" type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        <div *ngIf="!logined" class="absolute right-5 md:top-[80px] sm:top-[80px] lg:top-[20px]  hidden sm:block">
            <shared-button [name]="'Login'" [style]="style2" [routerLink]="'/auth/login'"></shared-button>
        </div>
    </div>
</div>
<div class="{{menu}} shadow-xl w-28 pb-3 absolute right-5 top-[100px] sm:hidden">
    <div class="flex flex-col w-28 pl-2 pr-2">
        <shared-button [name]="'Home'" [style]="style3"></shared-button>
        <shared-button [name]="'Works'" [style]="style3"></shared-button>
        <shared-button [name]="'Properties'" [style]="style3"></shared-button>
        <shared-button *ngIf="accessType=='engineer'" [name]="'Messages'" [routerLink]="'/engineer/chats'" [style]="style3"></shared-button>
        <shared-button *ngIf="accessType=='client'" [name]="'Messages'" [routerLink]="'/chats'" [style]="style3"></shared-button>
        <shared-button [name]="'About Us'" [style]="style3"></shared-button>
    </div>
    <div class="pt-3 w-28 pl-2 pr-2 flex justify-center items-center">
        <div *ngIf="!logined">
            <shared-button [name]="'Login'" [style]="style4" [routerLink]="'/auth/login'"></shared-button>
        </div>
        <div *ngIf="logined" (click)="profileClicked()" class="w-8 h-8 border border-black rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><g fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke="#344054" d="M25 31.25a8.333 8.333 0 1 0 0-16.667a8.333 8.333 0 0 0 0 16.667"/><path stroke="#344054" d="M29.52 29.896a8.23 8.23 0 0 1-9.04 0a14.58 14.58 0 0 0-8.917 8.166a18.75 18.75 0 0 0 26.687.188l.188-.188a14.6 14.6 0 0 0-8.917-8.166"/><path stroke="#306CFE" d="M43.75 25c0-10.355-8.395-18.75-18.75-18.75S6.25 14.645 6.25 25S14.645 43.75 25 43.75S43.75 35.355 43.75 25"/></g></svg>
        </div>
    </div>
</div>