<!-- component -->
<div class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-12">
    <div class="relative bg-white px-6 pt-10 pb-9 shadow-xl mx-auto w-full max-w-lg rounded-2xl">
      <div class="mx-auto flex w-full max-w-md flex-col space-y-8">
        <div class="flex flex-col items-center justify-center text-center space-y-2">
          <div class="font-semibold text-3xl">
            <p>Email Verification</p>
          </div>
          <div class="flex flex-row text-sm font-medium text-gray-400">
            <p>We have sent a code to your email {{email}}</p>
          </div>
        </div>
  
        <div>
          <div class="flex flex-col space-y-8">
              <div class="flex items-center justify-center">
                  <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
              </div>
              <small *ngIf="error" class="flex justify-center text-[red]">
                *{{error}}
              </small>
            <div class="flex flex-col space-y-3">
              <div class="flex justify-center">
                <button type="submit" [disabled]="otp.length!==4" (click)="onSubmit()" class="cursor-pointer h-12 flex flex-row items-center justify-center text-center w-[40%] border rounded-xl outline-none py-5 bg-blue-700 border-none text-white text-sm shadow-sm">
                  Verify Account
                </button>
              </div>

              <div class="flex flex-row items-center justify-center text-center text-sm font-medium space-x-1 text-gray-500">
                <p>Didn't recieve code?</p> <button *ngIf="isButtonEnabled" (click)="handleClick()" class="flex flex-row items-center text-blue-600 cursor-pointer">Resend</button>
                <span class="text-[red]" *ngIf="!isButtonEnabled">{{ countdown }} seconds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>