<shared-navbar></shared-navbar>
<div *ngIf="componyDetails; else loading">
    <div class="flex flex-col items-center h-60">
        <div class="w-full h-40 bg-gray-300 overflow-hidden">
            <img class="object-cover w-full h-40" src="../../../../assets/images/banner.jpeg" alt="">
        </div>
        <div class="w-40 h-40 sm:w-48 sm:h-48 rounded-full bg-gray-900 absolute top-[165px] sm:top-[165px] lg:top-[120px] border-t-[5px] border-r-[5px] border-l-[5px] border-white overflow-hidden">
            <img class="w-40 h-40 sm:w-48 sm:h-48 object-cover" src="{{componyDetails.logo}}" alt="">
        </div>
    </div>
    <div class="w-full flex justify-center items-center text-[40px] h-10">{{componyDetails.componyName}}</div>
    <div class="w-full flex flex-col items-center sm:items-start sm:flex-row text-xl">
        <div class="w-[50%] sm:pl-10 flex flex-col items-center sm:items-start">
            <p>{{componyDetails.experiance}}+ Years Experience</p>
            <p>{{componyDetails.district}} - {{componyDetails.state}}</p>
        </div>
        <div class="w-[50%] flex flex-col items-center sm:items-end sm:pr-10">
            <p>+91 {{componyDetails.componyMobile}}</p>
            <p>{{componyDetails.componyEmail}}</p>
        </div>
    </div>
    <div class="w-full h-full flex justify-center pt-10 sm:pt-2">
        <div class="w-[80%] sm:w-[60%] rounded-[10px] h-full text-lg p-2 bg-blue-200">
            <p>{{componyDetails.description}}</p>
        </div>
    </div>
    <div class="w-full mt-4 flex justify-center">
        <button class="flex items-center gap-2 text-xl bg-red-800 text-white p-2 rounded-[20px] hover:bg-red-100 hover:text-black">Edit<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26"><path fill="currentColor" d="M20.094.25a2.245 2.245 0 0 0-1.625.656l-1 1.031l6.593 6.625l1-1.03a2.319 2.319 0 0 0 0-3.282L21.75.937A2.36 2.36 0 0 0 20.094.25zm-3.75 2.594l-1.563 1.5l6.875 6.875L23.25 9.75l-6.906-6.906zM13.78 5.438L2.97 16.155a.975.975 0 0 0-.5.625L.156 24.625a.975.975 0 0 0 1.219 1.219l7.844-2.313a.975.975 0 0 0 .781-.656l10.656-10.563l-1.468-1.468L8.25 21.813l-4.406 1.28l-.938-.937l1.344-4.593L15.094 6.75L13.78 5.437zm2.375 2.406l-10.968 11l1.593.343l.219 1.47l11-10.97l-1.844-1.843z"/></svg></button>
    </div>
</div>
<ng-template #loading>
    <p>Loading company details...</p>
</ng-template>
<div *ngIf="error">
    <p>Error loading company details: {{ error }}</p>
</div>