<div class="bg-[#E2E5FF] min-h-screen h-full">
    <shared-navbar></shared-navbar>
    <div *ngIf="componyDetails; else loading">
        <div class="flex flex-col items-center h-60">
            <div class="w-full h-40 bg-gray-300 overflow-hidden">
                <img class="object-cover w-full h-40" src="../../../../assets/images/banner.jpeg" alt="">
            </div>
            <div class="w-40 h-40 sm:w-48 sm:h-48 rounded-full bg-gray-900 absolute top-[165px] sm:top-[165px] lg:top-[120px] border-t-[5px] border-r-[5px] border-l-[5px] border-white overflow-hidden">
                <img class="w-40 h-40 sm:w-48 sm:h-48 object-cover" src="{{componyDetails.logo}}" alt="">
            </div>
        </div>
        <div class="w-full flex justify-center items-center text-[40px] h-10">{{componyDetails.componyName}}</div>
        <div class="w-full flex flex-col items-center sm:items-start sm:flex-row text-xl">
            <div class="w-[50%] sm:pl-10 flex flex-col items-center sm:items-start">
                <p>{{componyDetails.experiance}}+ Years Experience</p>
                <p>{{componyDetails.district}} - {{componyDetails.state}}</p>
            </div>
            <div class="w-[50%] flex flex-col items-center sm:items-end sm:pr-10">
                <p>+91 {{componyDetails.componyMobile}}</p>
                <p>{{componyDetails.componyEmail}}</p>
            </div>
        </div>
        <div class="w-full h-full flex justify-center pt-10 sm:pt-2">
            <div class="w-[80%] sm:w-[60%] rounded-[10px] h-full text-lg p-2 bg-blue-300">
                <p>{{componyDetails.description}}</p>
            </div>
        </div>
        <div class="w-full mt-4 flex justify-center">
            <button *ngIf="connectionStatus==false" (click)="connectNow()" class="flex items-center gap-2 text-xl bg-blue-800 text-white p-2 rounded-[20px] hover:bg-blue-100 hover:text-black">Connect Now <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 128 128"><path fill="#40c0e7" d="M108.58 64L62.47 97.81V76.72H19.42V51.49h43.04v-21.3L108.58 64z"/></svg></button>
            <button *ngIf="connectionStatus" (click)="messageNow()" class="flex items-center gap-2 text-xl bg-green-800 text-white p-2 rounded-[20px] hover:bg-green-100 hover:text-black">Message Now <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 128 128"><path fill="#40c0e7" d="M108.58 64L62.47 97.81V76.72H19.42V51.49h43.04v-21.3L108.58 64z"/></svg></button>
        </div>
    </div>
    <ng-template #loading>
        <p>Loading company details...</p>
    </ng-template>
    <div *ngIf="error">
        <p>Error loading company details: {{ error }}</p>
    </div>
</div>