<div class="min-h-screen bg-[#c6f2c2]">
  <engineer-navbar></engineer-navbar>
  <div class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-center mb-12 text-gray-800">Project
      Dashboard</h1>

    <div *ngIf="work" class="bg-white rounded-2xl shadow-xl overflow-hidden">
      <div
        class="bg-gradient-to-r from-green-400 to-blue-500 p-8 text-white relative overflow-hidden">
        <div
          class="absolute top-0 left-0 w-full h-full bg-black opacity-10 transform -skew-y-6"></div>
        <div class="relative z-10">
          <h2 class="text-4xl font-bold mb-2">{{ work.projectTitle }}</h2>
          <p class="text-xl opacity-80">{{ work.clientName }}</p>
        </div>
      </div>

      <div class="p-8 grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2 space-y-6">
          <div class="bg-gray-50 rounded-xl p-6 shadow-inner">
            <h3 class="text-2xl font-semibold mb-4 text-gray-800">Project
              Overview</h3>
            <div class="grid grid-cols-2 gap-4">
              <div>
                <p class="text-sm text-gray-500">Location</p>
                <p class="font-medium text-gray-800">{{ work.projectLocation
                  }}</p>
              </div>
              <div>
                <p class="text-sm text-gray-500">Type</p>
                <p class="font-medium text-gray-800">{{ work.projectType }}</p>
              </div>
              <div>
                <p class="text-sm text-gray-500">Start Date</p>
                <p class="font-medium text-gray-800">{{ work.startDate |
                  date:'mediumDate' }}</p>
              </div>
              <div>
                <p class="text-sm text-gray-500">End Date</p>
                <p class="font-medium text-gray-800">{{ work.endDate |
                  date:'mediumDate' }}</p>
              </div>
              <div>
                <p class="text-sm text-gray-500">Estimated Cost</p>
                <p class="font-medium text-gray-800">{{ work.estimatedCost |
                  currency:'INR' }}</p>
              </div>
              <div>
                <p class="text-sm text-gray-500">Created On</p>
                <p class="font-medium text-gray-800">{{ work.createdAt |
                  date:'medium' }}</p>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 rounded-xl p-6 shadow-inner">
            <h3 class="text-2xl font-semibold mb-4 text-gray-800">Project
              Description</h3>
            <p class="text-gray-700">{{ work.projectDescription }}</p>
          </div>
        </div>

        <div class="lg:col-span-1">
          <div class="bg-gray-50 rounded-xl p-6 shadow-inner">
            <h3
              class="text-2xl font-semibold mb-6 text-gray-800">Milestones</h3>
            <form (ngSubmit)="updateMilestones()" class="space-y-4">
              <div *ngFor="let milestone of work.milestones; let i = index"
                class="flex items-center space-x-4">
                <div class="flex-shrink-0">
                  <input type="checkbox"
                    [id]="'milestone-' + i"
                    [(ngModel)]="milestone.status"
                    [name]="'milestone-' + i"
                    class="form-checkbox h-5 w-5 text-blue-600 transition duration-150 ease-in-out"
                    [disabled]="!canToggleMilestone(i)"
                    (change)="onMilestoneChange(i)">
                </div>
                <label [for]="'milestone-' + i"
                  [ngClass]="{'text-gray-800 font-medium': milestone.status, 'text-gray-500': !milestone.status}"
                  class="flex-grow">
                  {{ milestone.description }}
                </label>
              </div>
              <button type="submit"
                class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-lg"
                [disabled]="!milestonesChanged">
                Update Milestones
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!work" class="flex justify-center items-center h-64">
      <div
        class="animate-spin rounded-full h-32 w-32 border-t-4 border-b-4 border-green-500"></div>
    </div>

    <div *ngIf="error"
      class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-lg mt-6"
      role="alert">
      <p class="font-bold">Error</p>
      <p>{{ error }}</p>
    </div>
  </div>

  <div class="flex justify-center pb-10">
    <button (click)="workInvoice(work._id)"
      class="bg-green-700 text-white p-2 rounded hover:bg-green-900">Download
      Invoice</button>
  </div>

  <!-- invoice canvas -->
  <div *ngIf="invoiceDetails" id="invoice-content"
    class="p-8 bg-white rounded-lg shadow-lg max-w-3xl mx-auto hide-on-print"
    style="background-color: white;">
    <div class="flex justify-between items-start mb-8">
      <div>
        <div class="w-20 h-20 rounded-full overflow-hidden">
          <img src="{{ invoiceDetails[0].companyData[0].logo }}"
            alt="Company Logo" class="h-20 mb-2 object-cover">
        </div>
        <h1 class="text-2xl font-bold text-gray-800">{{
          invoiceDetails[0].companyData[0].companyName }}</h1>
        <p class="text-gray-600">{{ invoiceDetails[0].companyData[0].district
          }}, {{ invoiceDetails[0].companyData[0].state }}</p>
        <p class="text-gray-600">{{
          invoiceDetails[0].companyData[0].companyEmail }}</p>
        <p class="text-gray-600">+91 {{
          invoiceDetails[0].companyData[0].companyMobile }}</p>
      </div>
      <div class="text-right">
        <h2 class="text-3xl font-bold text-blue-600 mb-2">INVOICE</h2>
        <p class="text-gray-600">Invoice Date: {{ invoiceDetails[0].createdAt |
          date:'mediumDate' }}</p>
        <p class="text-gray-600">Project Start: {{ invoiceDetails[0].startDate |
          date:'mediumDate' }}</p>
      </div>
    </div>

    <div class="border-t border-b border-gray-200 py-4 mb-8">
      <h3 class="text-xl font-semibold mb-2">Bill To:</h3>
      <p class="text-gray-800 font-medium">{{ invoiceDetails[0].clientName
        }}</p>
      <p class="text-gray-600">{{ invoiceDetails[0].projectLocation }}</p>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">Project Details</h3>
      <div class="bg-gray-100 rounded-lg p-4">
        <p class="text-gray-800"><span class="font-medium">Project Title:</span>
          {{ invoiceDetails[0].projectTitle }}</p>
        <p class="text-gray-800"><span class="font-medium">Type:</span> {{
          invoiceDetails[0].projectType }}</p>
        <p class="text-gray-800"><span class="font-medium">Description:</span>
          {{ invoiceDetails[0].projectDescription }}</p>
        <p class="text-gray-800"><span class="font-medium">Duration:</span> {{
          invoiceDetails[0].startDate | date:'mediumDate' }} to {{
          invoiceDetails[0].endDate | date:'mediumDate' }}</p>
      </div>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold mb-4">Milestones</h3>
      <table class="w-full text-left">
        <thead>
          <tr class="bg-gray-200">
            <th class="py-2 px-4">Description</th>
            <th class="py-2 px-4">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let milestone of invoiceDetails[0].milestones"
            class="border-b">
            <td class="py-2 px-4">{{ milestone.description }}</td>
            <td class="py-2 px-4">
              <span
                [ngClass]="{'text-green-600': milestone.status, 'text-red-600': !milestone.status}">
                {{ milestone.status ? 'Completed' : 'Pending' }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="flex justify-between items-center mb-8">
      <div>
        <h3 class="text-xl font-semibold">Total Estimated Cost</h3>
        <p class="text-gray-600">This is an estimate and may be subject to
          change</p>
      </div>
      <div class="text-right">
        <p class="text-3xl font-bold text-blue-600">₹{{
          invoiceDetails[0].estimatedCost | number:'1.2-2' }}</p>
      </div>
    </div>

    <div class="text-center text-gray-600 text-sm">
      <p>Thank you for your business!</p>
      <p>For any queries, please contact us at {{
        invoiceDetails[0].companyData[0].companyEmail }}</p>
    </div>
  </div>

  <engineer-footer></engineer-footer>
</div>